.language-selector {
    position: relative;
}

.language-selector__dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--dropdown-bg);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

.language-selector__option {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}

.language-selector__option:hover {
    background-color: var(--accent-color);
    color: #ffffff;
    
}