.container {
    margin: 0 auto;
    padding: 0 10%;
    width: 100%;
    margin-top: 40px;
}


.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    margin-top: 30px;
    border-radius: 32px;
    padding: 20px;
}