@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(135deg, #0e0e0e, #161616);     
  --text-main: #e2e2e2;      
  --header-bg: #0c0c0c;
  --dropdown-bg: #262626;
  --accent-color: #994ab3;         
  --card-bg: #242424;        
  --column-bg: #1e1e1e;
  --font-family: 'Saira', sans-serif;
}

[data-theme='light'] {
  --background: linear-gradient(135deg, #d3d3d3, #bcbcbc);
  --text-main: #333333;
  --header-bg: #dedede;
  --accent-color: #4e73df;
  --card-bg: #ffffff;
  --column-bg: #ebedef;
  --dropdown-bg: #c3c3c3;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family);
  background: var(--background);
  color: var(--text-main);
  overflow-x: hidden;
}